// containers
.container-center {
  width: 70%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

// .card {
//   position: unset;
//   border: 0;
//   background-color: transparent;
// }

// text
.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

// Padding
// Padding top bottom
.ptb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ptb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ptb-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

// Padding left right
.plr-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.plr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.plr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.plr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.plr-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.plr-30 {
  padding-left: 30px;
  padding-right: 30px;
}

// Padding left
.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-50 {
  padding-left: 50px;
}

// Padding right
.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-260 {
  padding-right: 260px;
}

// Padding bottom
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-50 {
  padding-bottom: 50px;
}


// Padding top
.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-200 {
  padding-top: 200px;
}

// Margin left-right
.mlr-5 {
  margin-left: 5px;
  margin-right: 5px;
}

// Margin right
.mr-300 {
  margin-right: 300px;
}

// Margin left
.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-70 {
  margin-left: 70px;
}

// Margin top
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-120 {
  margin-top: 120px;
}

// Margin top bottom
.mtb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mtb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mtb-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.mtb-90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.mtb-120 {
  margin-top: 120px;
  margin-bottom: 120px;
}
