* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

a:-webkit-any-link {
text-decoration:none !important;
}

dl, ol, ul, li {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
